services:
  qdrant:
    ports:
      - 127.0.0.1:6333:6333
      - 127.0.0.1:6334:6334

  neo4j:
    ports:
      - 127.0.0.1:7473:7473
      - 127.0.0.1:7474:7474
      - 127.0.0.1:7687:7687

  supabase-minio:
    ports:
      - 127.0.0.1:9020:9020
      - 127.0.0.1:9021:9021

  db:
    ports:
      - 127.0.0.1:5433:5432
