services:
  flowise:
    ports:
      - 127.0.0.1:3001:3001

  open-webui:
    ports:
      - 127.0.0.1:8080:8080

  n8n:
    ports:
      - 127.0.0.1:5678:5678

  mongodb:
    ports:
      - 127.0.0.1:27017:27017

  langfuse-worker:
    ports:
      - 127.0.0.1:3030:3030

  langfuse-web:
    ports:
      - 127.0.0.1:3000:3000

  clickhouse:
    ports:
      - 127.0.0.1:8123:8123
      - 127.0.0.1:9000:9000
      - 127.0.0.1:9009:9009

  minio:
    ports:
      - 127.0.0.1:9010:9000
      - 127.0.0.1:9011:9001

  searxng:
    ports:
      - 127.0.0.1:8081:8080
